html {
    background-image: url('images/PageBackground.jpg');
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right,rgb(255, 255, 255),rgba(255, 255, 255, 0));
    border: rgb(105, 105, 105);
    opacity: (to right, 40%, 100%);
    padding: 20px;
    

}

/* .title {


} */

.title-logo {
    max-width: 150px;
    max-width: 150px;
    opacity: 70%;
   
}

.search-bar{
    background-color: aliceblue;
    align-self: center;
}



#cart-button {

}

.logo-container {
    display: flex;
    justify-content: space-arounds;
    position: relative;
    top: 200px;
    background-image: linear-gradient(to bottom, black,rgba(99, 99, 99, 0.171));
    
}

.logo {
    max-height: 150px;
    max-width: 500px;
    box-shadow: 8x;
    border: solid rgb(105, 105, 105) 4px;
    border-radius: 10px;
    margin: auto;
}

.logo:hover {
    max-height: 170px;
    max-width: 520px;
}

button {
    border: solid black 2px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(111, 10, 10);
    color: rgb(252, 252, 252);
}

#cart-button {
    max-height: 50px;
    justify-content: center;
}
.brand-info {
    background-color: white;
    border: solid rgb(105, 105, 105) 4px;
    border-radius: 10px;
    margin: auto;
}